@media(max-width: 1200px)
    .subheader
        .sunheader_phone
            font-size: 16px

    .mobile_item 
        width: 300px
        height: 300px

@media(max-width: 1024px)
    nav
        .container
            .menu 
                .menu_link
                    font-size: 13px

    .footer
        .wrapper
            .market
                flex-direction: column
                .store
                    margin-top: 5px

@media(max-width: 992px)
    nav
        .container
            .menu
                .menu_link
                    font-size: 12px    
                .menu_item
                    padding-right: 7px
        
    .subheader 
        .subheader_official
            font-size: 12px
            
        .sunheader_phone
            font-size: 13px


    .reasons 
        .reasons_descr
            font-size: 13px
            span
                font-size: 15px

        .col-md-2
            .circle_item 
                width: 96px
                height: 96px

    .mobile
        .mobile_item 
            width: 220px
            height: 220px
            padding-top: 50px

            .mobile_item_subtitle
                font-size: 14px

    .require_list
        font-size: 14px
        line-height: 22px

    .car
        .car_img
            max-width: 100%

    .footer 
        .wrapper 
            .container 
                .line
                    height: 4px
                    margin-top: 5px
                    margin-bottom: 5px
                .three_links 
                    .main_link
                        margin: 10px 20px 0 20px

                .five_links 
                    .second_link
                        margin: 13px 10px 0 10px
@media(max-width: 768px)
    nav 
        .container 
            .menu 
                .menu_link
                    font-size: 8px

    .subheader
        .container
            .subheader_link
                .subheader_logo
                        max-width: 100%

        .subheader_official
            font-size: 11px
            margin-top: 5px



    