@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

.for320px {
  display: none; }

nav {
  min-height: 53px;
  background-color: #222222;
  z-index: 999; }

.menu_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: #222222;
  position: fixed;
  z-index: 999;
  height: 53px; }
  .menu_wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #222222;
    max-height: 53px;
    z-index: 999; }
    .menu_wrapper .container .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 100%; }
      .menu_wrapper .container .menu .menu_item {
        display: block;
        border-right: dotted;
        border-color: white;
        padding-right: 30px;
        margin-top: 16px; }
        .menu_wrapper .container .menu .menu_item a {
          text-decoration: none;
          font-weight: 300;
          font-size: 15px;
          color: #FFFFFF; }
      .menu_wrapper .container .menu .none_border {
        border-right: none; }

.subheader {
  background: rgba(0, 0, 0, 0.6);
  height: 84px;
  position: absolute;
  width: 100%; }
  .subheader .col-md-4 {
    margin-top: 17px; }
  .subheader .subheader_official {
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF; }
  .subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 22px; }
  .subheader .subheader_phone {
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none; }
  .subheader .xs_visible {
    display: none; }
  .subheader .subheader_btn {
    margin-top: 20px;
    width: 172px;
    height: 46px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
    .subheader .subheader_btn:hover {
      background-image: none;
      background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#ff4c4c));
      background: linear-gradient(0deg, #1EACC7 0%, #ff4c4c 100%); }

.hamburger {
  display: none; }

.promo {
  background: url("../img/2Promo/BG.png") center center/cover no-repeat;
  height: 800px; }
  .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 152px; }
  .promo_subheader {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px; }
  .promo_descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px; }
  .promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 116px;
    width: 259px;
    height: 63px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
            box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
    .promo .promo_btn:hover {
      background-image: none;
      background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#ff4c4c));
      background: linear-gradient(0deg, #1EACC7 0%, #ff4c4c 100%); }

.label {
  width: 112px;
  height: 24px;
  background: #222222;
  margin: 0 auto;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF; }

.title {
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #222222; }

.subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222; }

.edge {
  height: 994px;
  padding: 137px 0 64px 0; }
  .edge .wrapper_tab {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .edge .wrapper_tab .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .edge .wrapper_tab .wrapper .edge_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: top;
            -ms-flex-align: top;
                align-items: top;
        margin-top: 30px; }
        .edge .wrapper_tab .wrapper .edge_item .logo_round {
          min-width: 113px;
          min-height: 113px;
          max-width: 113px;
          max-height: 113px;
          background: #1EACC7;
          border-radius: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-negative: none;
              flex-shrink: none;
          margin-right: 25px; }
        .edge .wrapper_tab .wrapper .edge_item span {
          font-weight: 400;
          font-size: 17px;
          line-height: 21px;
          color: #1EACC7; }

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/4MobileApp/BG.png") center center/cover no-repeat; }
  .mobile .row_1 {
    margin-top: 30px; }
  .mobile .row_2 {
    margin-top: 19px; }
  .mobile_item {
    width: 320px;
    height: 280px;
    margin: 0 auto;
    padding-top: 92px;
    position: relative; }
    .mobile_item_1 {
      background: url("../img/4MobileApp/Img1.png") center center/cover no-repeat; }
    .mobile_item_2 {
      background: url("../img/4MobileApp/Img2.png") center center/cover no-repeat; }
    .mobile_item_3 {
      background: url("../img/4MobileApp/Img3.png") center center/cover no-repeat; }
    .mobile_item_4 {
      background: url("../img/4MobileApp/Img4.png") center center/cover no-repeat; }
    .mobile_item_5 {
      background: url("../img/4MobileApp/Img5.png") center center/cover no-repeat; }
    .mobile_item_6 {
      background: url("../img/4MobileApp/Img6.png") center center/cover no-repeat; }
    .mobile_item_subtitle {
      font-weight: 400;
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF; }
  .mobile_subtitle_plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 26px;
    height: 26px;
    background: #222222;
    border-radius: 100%;
    padding: 6px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: pointer; }
    .mobile_subtitle_plus:before {
      content: "";
      display: block;
      width: 14px;
      height: 2px;
      background-color: #1EACC7; }
    .mobile_subtitle_plus:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      width: 2px;
      height: 14px;
      background-color: #1EACC7; }
    .mobile_subtitle_plus:hover:before, .mobile_subtitle_plus:hover:after {
      background-color: #FF5656; }

.car {
  min-height: 898px;
  padding: 56px 0 137px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, #070716), color-stop(42%, #fdfdfd));
  background: linear-gradient(to bottom, #070716 58%, #fdfdfd 42%); }
  .car_img {
    display: block;
    margin: 0 auto;
    margin-top: 54px; }
  .car_descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #222222; }

.label_white {
  background-color: #FFFFFF;
  color: #070716;
  margin-top: 27px; }

.title_white {
  color: white; }

.subtitle_white {
  color: white; }

.require {
  padding: 68px 0 84px 0; }
  .require_block {
    margin: 33px 0; }
    .require_block_nomarginbot {
      margin-bottom: 0; }
  .require_title {
    font-weight: 400;
    font-size: 22px;
    color: #1EACC7; }
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      position: relative;
      font-weight: 300;
      font-size: 17px;
      color: #222222;
      margin-bottom: 10px; }
      .require_list li::before {
        content: "";
        position: absolute;
        width: 21px;
        height: 20px;
        background: url("../img/6СonditionsRequirements/BlueMark.svg") center center/cover no-repeat;
        left: -32px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
  .require_descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #1EACC7; }
  .require .red_mark .require_title {
    color: #FF5656; }
  .require .red_mark .require_list li::before {
    background: url("../img/6СonditionsRequirements/RedMark.svg") center center/cover no-repeat; }

.map {
  min-height: 720px;
  padding: 49px 0 23px 0;
  background: url("../img/7AroundWorld/BG.png") center center/cover no-repeat; }
  .map .city {
    display: block;
    margin-top: 456px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1EACC7;
    text-decoration: none; }

.footer {
  min-height: 145px;
  padding: 11px 0 30px 0;
  background: #d8d8d8; }
  .footer_line {
    display: block;
    margin: 0 auto;
    width: 301px;
    height: 4px;
    background-color: #1EACC7; }
  .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 32px; }
    .footer_wrapper .footer_social {
      width: 33%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left;
      margin-left: 22px; }
      .footer_wrapper .footer_social_item {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: #222222;
        margin-right: 4px;
        margin-left: 4px; }
    .footer_wrapper .footer_links {
      width: 33%; }
      .footer_wrapper .footer_links .main_link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .footer_wrapper .footer_links a {
        margin-right: 22px;
        margin-left: 22px;
        text-decoration: none;
        color: #222222;
        font-weight: 300;
        font-size: 15px;
        text-transform: uppercase; }
      .footer_wrapper .footer_links .secondary_link {
        margin-top: 13px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .footer_wrapper .footer_links .secondary_link a {
          margin: 0 5px 0 5px;
          text-decoration: none;
          font-weight: 300;
          font-size: 11px;
          text-transform: uppercase;
          color: #999999; }
    .footer_wrapper .footer_apps {
      width: 33%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: right;
          -ms-flex-pack: right;
              justify-content: right;
      margin-right: 21px; }
      .footer_wrapper .footer_apps_item {
        width: 94px;
        height: 27px;
        background-color: #222222;
        border-radius: 4px;
        margin-left: 4px;
        margin-right: 4px; }
  .footer .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 17px;
    text-decoration: none;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #1EACC7; }

@media (max-width: 1200px) {
  .promo_header {
    font-size: 50px; }

  .edge {
    padding-top: 50px;
    height: 1070px; } }
@media (max-width: 991px) {
  .promo .promo_btn {
    margin: 50px auto; }

  .edge {
    padding-top: 50px;
    height: 1600px; }

  .menu_item {
    padding-right: 15px; }

  .mobile .mobile_item {
    width: 100%;
    height: 280px; }

  .subheader .subheader_logo img {
    width: 100%; }
  .subheader .subheader_phone {
    font-size: 15px; }
  .subheader .subheader_official {
    font-size: 11px; }

  .car_img {
    width: 100%; }

  .menu_wrapper .container .menu .menu_item a {
    font-size: 10px; } }
@media (max-width: 767px) {
  .footer_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer_wrapper .footer_social {
      display: none; }
    .footer_wrapper .footer_apps {
      display: none; }
    .footer_wrapper .footer_links a {
      text-align: center; }

  .menu_wrapper .container {
    width: 70%; }
    .menu_wrapper .container .menu {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: 0.6s all;
      transition: 0.6s all; }
      .menu_wrapper .container .menu_active {
        left: 0; }
      .menu_wrapper .container .menu .menu_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0;
        border: none; }
        .menu_wrapper .container .menu .menu_item a {
          font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #FFFFFF;
      margin-bottom: 2px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .car_img {
    width: 100%; }

  .subheader .xs_visible {
    display: block; }
  .subheader .subheader_phone {
    display: block;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase; }
  .subheader .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px; }

  .promo {
    height: 100%; }
    .promo .promo_header {
      line-height: 45px; }
    .promo .promo_descr {
      display: none; }
    .promo .promo_subheader {
      font-weight: 700;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
      text-transform: uppercase; }
    .promo .promo_btn {
      margin-top: 20px;
      margin-bottom: 15px; }

  .edge {
    height: 100%; }

  .car_img {
    width: 100%; }

  .mobile_item_2 {
    margin-top: 10px; }

  .mobile_item_3 {
    margin-top: 10px; }

  .mobile_item_5 {
    margin-top: 10px; }

  .mobile_item_6 {
    margin-top: 10px; } }
@media (max-width: 577px) {
  .menu_wrapper .container {
    width: 70%; }
    .menu_wrapper .container .menu {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: 0.6s all;
      transition: 0.6s all; }
      .menu_wrapper .container .menu_active {
        left: 0; }
      .menu_wrapper .container .menu .menu_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0;
        border: none; }
        .menu_wrapper .container .menu .menu_item a {
          font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #FFFFFF;
      margin-bottom: 2px;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }

  .menu_wrapper .container .menu .menu_item a {
    text-align: center; }
  .menu_wrapper_active span {
    margin-bottom: -2px; }
    .menu_wrapper_active span:nth-child(1) {
      -webkit-transform: translateY(3px) rotate(-45deg);
              transform: translateY(3px) rotate(-45deg); }
    .menu_wrapper_active span:nth-child(2) {
      display: none; }
    .menu_wrapper_active span:nth-child(3) {
      -webkit-transform: translateY(3px) rotate(45deg);
              transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .subheader .xs_visible {
    display: block; }
  .subheader .subheader_phone {
    display: block;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    text-transform: uppercase; }
  .subheader .subheader_btn {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px; }

  .promo {
    min-height: 400px; }
    .promo .promo_header {
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
      text-transform: uppercase; }
    .promo .promo_descr {
      display: none; }
    .promo .promo_subheader {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      text-transform: uppercase; }

  .edge {
    height: 100%; }

  .car_img {
    width: 100%; } }
@media (max-width: 321px) {
  header, .promo, .edge, .mobile, .car, .require, .map, .footer {
    display: none; }

  .for320px {
    display: block;
    width: 300px;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate(-90deg) translateX(-120px);
            transform: rotate(-90deg) translateX(-120px); } }

/*# sourceMappingURL=style.css.map */